<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>
</head>
<body>
    <style>
    .student_adding_form {
        max-width: 600px;
        margin: 2rem auto;
        text-align: center;
    }
    .student_list {
        max-width: 600px;
        margin: 2rem auto;
        text-align: center;
    }
    </style>
    <div class="student_adding_form"><form method="post">
        <h1>Add student</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add student</button>
    </div>    </form>
    <div class="student_list">
        <h1>Students list</h1>
        {% for student in students %}
            <p>{{ student.name }}<p/>
            <p>{{ student.date_of_birth }}<p/>
            <p>{{ student.school }}<p/>
            {% if student.is_active == True %}
                <p>Student studying</p>
<!--            <p>{{ student.is_active }}<p/>-->
            {% else %}
                <p>Student  don't studying</p>
            {% endif %}
            {% if student.is_graduate == True %}
                <p>Student graduated</p>
<!--            <p>{{ student.is_graduate }}<p/>-->
            {% else %}
                <p>Student has not yet graduated</p>
            {% endif %}
            <hr>
        {% endfor %}
    </div>
</body>
</html>

